@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Contact";
}

<h2>Impressum</h2>

<h4>@Localizer["Acknowledgement"]</h4>
<div>
    @Localizer["Text"]
</div>
<h4>@Localizer["Contact"]</h4>
<div>
    @Localizer["Names"]
</div>