@model XamPass.Models.ViewModels.ViewModelCreateFieldOfStudies

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["CreateNewFieldOfStudies"];
}

<head>
    <link rel="stylesheet" href="~/css/create.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>
    <h1>@Localizer["CreateNewFieldOfStudies"]</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container container-ext">
            <div class="row">
                <div class="col-md-4 form-something-new">
                    <div class="form-group">
                        <label asp class="control-label">@Localizer["FieldOfStudiesName"]</label>
                        <input asp-for="@Model.FieldOfStudiesName" class="form-control" />
                        <span asp-validation-for="@Model.FieldOfStudiesName" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-left col-md-2 create-something-new">
                    <input type="submit" value=@Localizer["CreateFieldOfStudies"] class="btn btn-default" style="width:100%"
                           formaction=@Url.Action("SaveNewFieldOfStudies", "Home") />
                </div>
                <div class="text-left col-md-2 cancel-something-new">
                    <input type="submit" value=@Localizer["Cancel"].Value class="btn btn-default" style="width:100%" formaction=@Url.Action("CancelNewField", "Home") />
                </div>
            </div>
        </div>
    </form>
</body>