@model XamPass.Models.ViewModelSearch

@{
	ViewData["Title"] = "Done";
}

<h2>Done</h2>

@*<p>@Model.UniversityId</p>*@

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">XamPass</a>*@
				<img src="~/images/XamPassLogo.png" height="60" class="toolbar-img" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav toolbar-ul">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="FirstTest">First Test</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="SecondTest">Second Test</a></li>
					<li><a asp-area="" asp-controller="DtUniversities" asp-action="Index">Test DB</a></li>
					<li><a asp-area="" asp-controller="Admin" asp-action="Login">Create Database</a></li>
					<li><a asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>