@model XamPass.Models.FirstModel

@{
	ViewBag.Title = "First Test";
}

<h2>First Test</h2>

<head>
	@*<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">*@
	@*<title>jQuery UI Autocomplete - Default functionality</title>*@
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

	@*<script>
			$(function () {
					var availableTags = @Html.Raw(Json.Serialize(Model.Select(x => x.Name)))
					$("#tags").autocomplete({
						 source: availableTags
					});
			  });
		</script>*@
</head>

<body>
	<div class="form form-group">
		@using (Html.BeginForm("FirstTest", "Home", FormMethod.Post))
		{
			@Html.AntiForgeryToken();

			@*@Html.TextBoxFor(m => Model.Name, new { id = "tags" })*@
			@*<input class="form-control" id="tags" name="Name" type="text" value="Fill in" />*@

			@Html.DropDownListFor(m => m.InstitutionId, Model.Institutions, "Einrichtung auswählen", new { @class = "selectpicker col" })

			<button type="submit" class="btn btn">Senden</button>

			@*<input type="submit" value="Klick" formaction=@Url.Action("FirstTest", "Home") formmethod="post" class="btn btn-default" />*@

			@*<div class="ui-widget">
					<label for="tags">City: </label>
					<input id="tags">
				</div>*@
		}
	</div>
</body>