@model XamPass.Models.SecondModel
@{
	ViewData["Title"] = "SecondTest";
}

<h2>SecondTest</h2>

@*<div>
	@using (Html.BeginForm("SecondTest", "Home", FormMethod.Post))
	{
		@Html.TextBoxFor(m => m.Institution.Name, "Einrichtung auswählen", new { @class = "form form-control" })
		<button type="submit" class="btn btn">Senden</button>
	}
</div>*@

<div>
	<form method="post" class="form form-group">
		<input list="institutions" name="institution" class="form form-control" />
		<datalist id="institutions">
			@foreach (var item in Model.InstitutionList)
			{
				<option value="@item.Name" />
			}
		</datalist>
		<button type="submit" class="btn btn">Senden</button>
	</form>
</div>