@model XamPass.Models.ViewModels.ViewModelSearch

@{
	ViewData["Title"] = "ShowQuestions";
}

<h2>ShowQuestions</h2>

@*<ul>
	@foreach (var item in Model.Questions)
	{
		Model.QuestionId = item.QuestionID;
		<li>@Html.ActionLink(@item.Content, "ViewQuestion", "Home", Model)</li>
	}
</ul>*@

@*@Html.ListBoxFor(m => m.QuestionId, Model.QuestionsSelectList, new
{
	@class = "form-control col-md-2 dropdown-toggle col input-cell",
	@onchange = "this.form.submit();"
})*@