
@{
	 ViewData["Title"] = "Login";
}

<h2>Login</h2>

<p>
	Einloggen, um neue DB zu erstellen! (Tip: admin, password)
</p>

<form asp-controller="Admin" asp-action="Login" method="post" class="form-inline">
	<label id="username">Name:</label>
	<input type="text" name="username" id="username" class="form-control" />
	<label id="password">Passwort:</label>
	<input type="password" name="password" id="password" class="form-control" />
	<input type="submit" value="Login" class="form-control" />
</form>