@model XamPass.Models.SecondModel
@{
	 ViewData["Title"] = "SecondTest";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SecondTest</h2>

@*<div>
		@using (Html.BeginForm("SecondTest", "Admin", FormMethod.Post))
		{
			@Html.TextBoxFor(m => m.Institution.Name, "Einrichtung auswählen", new { @class = "form form-control" })
			<button type="submit" class="btn btn">Senden</button>
		}
	</div>*@

<div class="form-inline">
	<form method="post">
		<input list="institutions" name="institution" class="form-control dropdown-toggle col-md-2" />
		<datalist id="institutions">
			@foreach (var item in Model.InstitutionList)
			{
			<option value="@item.Name" />
			}
		</datalist>
		<button type="submit" class="btn btn">Senden</button>
	</form>
</div>