html {
    overflow-y: scroll;
}

h1 {
    font-weight: 900;
    margin-top: 0px;
}

.input-cell-name {
    text-align: start;
    width: 125pt;
    background-color: #BBB;
    border-radius: 5px 5px 0px 5px;
    padding: 2px 0px 2px 5px;
}

.input-cell-name-big {
    text-align: start;
    width: 125pt;
    vertical-align: top;
}

.input-cell {
    margin-bottom: 3px;
    width: auto;
    min-width: 30%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-ext {
    padding-left: 0px;
    padding-right: 0px;
}

.col-button-end {
    width: auto;
    float: right;
    padding-right: 0px;
}

.new-something-btn {
	width: 150pt;
	border: 1px solid #edb850;
	background-color: transparent;
	color: #ef8f32;
}

    .new-something-btn:hover {
        background: linear-gradient(#f79b45, #ef8f32);
        color: #333;
    }

    .new-something-btn:active {
        background: linear-gradient(#ef8f32, #e57d19);
    }

.col-validation {
    width: auto;
    padding: 0px;
    min-width: 25%;
}

.dropdown-field {
    width: 100%;
}

.input-cell-big {
    width: 100%;
    resize: vertical;
    height: 40pt;
    min-height: 40pt;
    max-height: 200pt;
    margin-bottom: 3px;
}

.validation-div {
    display: inline-block;
}

.validation-div-big {
    display: inline-block;
    width: 100%;
}

.validation-message {
    display: table-cell;
    height: 34px;
    vertical-align: middle;
    padding-left: 10px;
}

.validation-message-big {
    display: table-cell;
    height: 34px;
    vertical-align: middle;
	 /*TODO: Fehler float nicht möglich*/
    /*float: right;*/
}

#createBtn {
    height: 35pt;
    position: relative;
    margin: 20pt 0pt 20pt 0pt;
    /*box-shadow: 0px 0px 5px #edc880;*/
    border: 1px solid #666;
    background: linear-gradient(#ef8f32, #ef8f32); /*#ed8a2a;*/
    font-size: 15pt;
    font-weight: 600;
}

    #createBtn:hover {
        background: linear-gradient(#f79b45, #ef8f32);
    }

    #createBtn:active {
        background: linear-gradient(#ef8f32, #e57d19);
    }


.form-something-new {
    padding-left: 0px;
    padding-right: 0px;
    width: 350px;
}

.create-something-new {
    padding: 0px 5px 0px 0px;
    width: 250px;
}

.cancel-something-new {
    padding: 0px;
    width: 100px;
}


@media (max-width: 450px) {
    .validation-message {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }

    .validation-div {
        display: inline-block;
		  /*TODO: Fehler*/
        /*float: right;*/
    }

    .input-cell {
        margin-bottom: 3px;
        width: 100%;
        min-width: 30%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-cell-name {
        text-align: start;
        width: 125pt;
        background-color: #BBB;
        border-radius: 5px 5px 0px 5px;
        padding: 2px 0px 2px 5px;
        margin-top: 3px;
    }
}

@media(max-width: 992px) {
    .form-something-new {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .create-something-new {
        padding: 0px;
        margin-bottom: 5px;
        width: 100%;
    }

    .cancel-something-new {
        padding: 0px;
        width: 100%;
    }
}
