html {
    overflow-y: scroll;
}

h1 {
    font-weight: 900;
    margin-top: 0px;
}

.input-cell-name {
    text-align: start;
    padding: 5px;
    width: 100pt;
    background-color: #BBB;
    border-radius: 5px 5px 0px 5px;
    margin-top:5px;
}

.input-cell {
    margin-bottom: 3px;
    width: 100%;
}

#submitBtn {
    width: 150pt;
    float: right;
    height: 35pt;
    position: relative;
    margin: 15pt 0pt 15pt 0pt;
    /*box-shadow: 0px 0px 5px #edc880;*/
    border: 1px solid #666;
    background: linear-gradient(#ef8f32, #ef8f32); /*#ed8a2a;*/
    font-size: 15pt;
    font-weight: 600;
}

    #submitBtn:hover {
        background: linear-gradient(#f79b45, #ef8f32);
    }

    #submitBtn:active {
        background: linear-gradient(#ef8f32, #e57d19);
    }

#colNewEntry {
    padding-left: 0px;
    padding-right: 0px;
    width: 200pt;
    float: right;
    margin-right: 0px;
}

#newEntryBtn {
    position: relative;
    width: 200pt;
    border: 1px solid #edb850;
    background-color: transparent;
    color: #ef8f32;
}

    #newEntryBtn:hover {
        background: linear-gradient(#f79b45, #ef8f32);
        color: #333;
    }

    #newEntryBtn:active {
        background: linear-gradient(#ef8f32, #e57d19);
    }

.question-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

    .question-wrapper:not(:last-child) {
        border-bottom: 1px solid #BBB;
    }

.question-wrapper-header {
    display: inline-block;
    width: 100%;
    background-color: #222;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    border-radius: 0px 15px 15px 0px;
}

.question-header-text {
    display: inline-block;
    padding: 3px;
}

.question-header-text-beginning {
    display: inline-block;
}

.question-header-text-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}

.question {
    padding-top: 5px;
}

@media(max-width:992px) {
    #newEntryBtn {
        width: 100%
    }

    #colNewEntry {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        float: none;
        margin-right: 0px;
    }
}