html {
    overflow-y: scroll;
}

.question {
    display: inline-block;
    width: auto;
    max-width: 60%;
    word-break: break-word;
    font-size: 20px;
}

.card-custom {
    float: right;
    width: 210pt;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffdabf;
    box-shadow: #333 2px 2px 5px;
}

.card-header {
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    font-weight: 600;
}

.card-info {
    display: inline-block;
    float: right;
    margin-bottom: 5px;
}

.btn-show-answer {
    margin: 20px 0px 10px 0px;
}

.answer {
    width: 70%;
}
