html {
    overflow-y: scroll;
}

.rating-button {
    background-color: #999999;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: content-box;
    width: 50px;
    height: 50px;
    padding: 5px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #333;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.question {
    display: inline-block;
    width: auto;
    max-width: 60%;
    word-break: break-word;
    font-size: 20px;
}

.card-custom {
    float: right;
    width: 210pt;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffdabf;
    box-shadow: #333 2px 2px 5px;
    margin: 0 5px 5px 0;
}

.card-header {
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    font-weight: 600;
}

.card-info {
    display: inline-block;
    float: right;
    margin-bottom: 5px;
}

.btn-ext-answer {
    margin: 15px 0px 10px 0px;
    width: 150pt
}

    .btn-show-answer:focus {
        outline: none;
    }

.answer {
    width: auto;
    max-width: 60%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.input-cell-big {
    width: 100%;
    resize: vertical;
    height: 40pt;
    min-height: 40pt;
    max-height: 200pt;
    margin-bottom: 3px;
}

#createBtn {
    width: 150pt;
    border: 1px solid #edb850;
    background-color: transparent;
    color: #ef8f32;
    float: right;
}


@media (max-width: 450px) {
    .card-custom {
        width: 100%;
        display: inline-block;
        border: 1px solid #333;
        border-radius: 15px;
        background-color: #ffdabf;
        box-shadow: #333 2px 2px 5px;
        margin: 0 5px 5px 0;
    }

    .question {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        word-break: break-word;
        font-size: 20px;
        margin-right: 5px;
    }
}